@charset "UTF=8";

/* TypicaL Device Breakpoints

pequenas Telas: até 600px

celular: min = 600px

tablet : min 768px

Desktop: min 992px

Grandes telas min 1200px

*/

@media screen and (min-width: 768px) {
    .fa-solid {
        display: none;
    }
   
    menu > ul {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
    }

    main {
    
      width: 700px;   
      
    }

}